/* You can add global styles to this file, and also import other style files */

.game-area,
.command-area {
	width: 450px;
  float: none;
  margin: 25px auto;
}

.grid {
	div md-grid-tile {
    cursor: pointer;
    margin: 0;

    figure {
      border: 7px solid #666;
    }

    i.material-icons.circle {
      color: green;
      font-size: 80px;
    }

    i.material-icons.cross {
      color: red;
      font-size: 90px;
    }
	}
}
